/* h1 {
    background-color: blue;
} */

/* button {
    background-color: #6CA0DC;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
} */