body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.header h1 {
    background: rgb(37,99,235);
    background: linear-gradient(90deg, rgba(37,99,235,1) 7%, rgba(30,58,138,1) 64%);
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 0.75rem;
}

.left-side {
    float: left;
    width: 30%
}

.left-side h2 {
    font-size: x-large;
}

h2 {
    font-weight: bolder;
    /* margin: 5px; */
}

.search-city {
    display: flex;
    flex-direction: column;
}

.search-city input {
    border-color: #6b7280;
    border-radius: 0.375rem;
    border-width: 2px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
}

/* .search-city input:focus {
    border-color: #3b82f6;
} */

.search-city button {
    color: white;
    background-color: #3b82f6;
    border-radius: 0.375rem;
    padding-left: 5rem; 
    padding-right: 5rem; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.search-city button:hover {
    background-color: #2563eb;
}

.search-city button:focus {
    outline: none;
    border-color: #93c5fd;
}

.city-list {
    background-color: #a1a1aa;
    margin: 0.5rem;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    background-color: #a1a1aa;
    text-align: center;
    margin: 0.5rem;
    border-radius: 0.375rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
} 

.right-side-top, .right-side-bottom {
    float: right;
    width: 70%;
} 

.left-side, .right-side-top, .right-side-bottom {
    display: block;
}

/* .right-side-bottom {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}  */

div .card {
    background-color: #334155;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly; 
    align-items: center; 
    color: white;
}

/* footer .copyright {
    text-align: center;
    position: absolute;
    bottom: 0px; 
    display: flex;
    justify-content: center;

}  */

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

p .copyright {
    margin: 10px;
}

.card {
    padding: 1rem;
    font-size: smaller;
    margin-top: 0.5rem;
}

.forecast h3 {
    font-weight: 700;
}

.right-side-bottom h2 {
    margin-left: 1rem;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0.5rem;
}

.forecast .card {
    height: 11rem;
    padding-right: 1.5rem;
    margin: 1rem;
}

.today-forecast {
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem
}

.today-forecast h3 {
    font-weight: 700;
    font-size: x-large;
}

.today-forecast p {
    font-size: small;
    padding-top: 10px;
}